.add-box-form__text {
  border: .0675rem solid #000;
  height: 1.25rem;
  padding: 0;
}

.add-box-form__color {
  display: block;
  padding: 0;
  margin: 0 auto;
  border: none;
  min-height: 1.75rem;
  background-color: #fff;
}

.add-box-form__dropdown {
  background: #FFF;
  border: .0675rem solid #000;
  height: 1.25rem;
}

.add-box-form__submit {
  background: #4CAF50;
  border: .0675rem solid #000;
  color: #FFF;
  height: 1.25rem;

  &:disabled {
    background: #777;
  }
}
