@import "./variables";

body {
  max-width: 100%;
  padding: 2rem 10%;
}

.block {
  display: block;
  width: 10rem;
}

.block__elem {
  margin: .5rem 0;
  width: 100%;
}

.block__elem:focus {
  outline: none;
}

.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}

.hover-text {
  &:hover {
    cursor: text;
  }
}
